body{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: max(0.8vw, 1px);
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    max-width: 80%;
}

.grid-item{
    border: 1px solid brown;
    /*max-width:8px;*/
    margin: 0;
    padding: 0.4rem;
}

.color{
    background-color: aqua;
}